@import '../../shared/styles/color.scss';

.MainPage {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  height: 100vh;
  background-image: url('../../shared/img/background8.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $lightColor;
  background-position: center;

  .Content {
    display: flex;
    justify-content: center;
    height: calc(100% - 60px);;
    width: 100vw;

    .ContentContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1280px;
      width: 100%;
    }
  }
}
