@import '@styles/color.scss';

.Form {
  h1 {
    color: $lightColor;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px $shadowColor;
  }

  .AuthForm {
    background: $lightGrey;
    opacity: .8;
    box-shadow: 2px 2px 2px $shadowColor;
    padding: 15px;
    border-radius: 5px;

    &:hover {
      opacity: 1;
    }

    .AuthFormBtns {
      text-align: center;
    }
  }
}
