$shadowColor: rgba($color: #000000, $alpha: .5); //+
$black: #000000;  //+
$textDark: #2e2e2e; //+
$disabledBtn: #ccc; //+
$lightColor: #fff;  //+
$lightGrey: #979797; //+
$authBlueLight1: #cef2fa;
$authBlueLight2: #59bfef;
$authBlueLight3: #bee8fb;
$greenLightTheme1: #91f787;
$greenLightTheme2: #00c71d;
$contentDarkTheme: #2f657e;
$blueDarkTheme: #134962;
$blueDarkTheme2: #173340;
$darkTheme1: #44315a;
$orangeDarkTheme: #6e3101;
$orangeGreyDarkTheme: #605042;
$orange: rgb(234, 108, 5);
$purpleLight: rgb(228 22 146); //+
$blue: rgb(0 116 196);  //+
$purpleMediumLight: #501446;
$purpleDark: #2a0a25;
$green: rgb(0 155 69); //+
$red: #a90309; //+
$redNotification1: #f01f30; //+
$redNotification2: red;
$greenNotification1: rgb(0, 187, 14);
$greenNotification2: #00fd57;
$yellowNotification1: #e8ea05;
$darkInput: #666;
$lightInput: #bebebe; //+
$lightAuthForm: #eee;