@import '../../shared/styles/color.scss';

.Auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../shared/img/background7.png');
  background-size: cover;
  background-color: $lightColor;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(0);

  &.Dark {
    filter: invert(1);

    label, span {
      filter: invert(1);
    }
  }

  &.Light {
    filter: invert(0);
  }

  .AuthContainer {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }

  h1 {
    color: $lightColor;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px $shadowColor;
  }

  .AuthForm {
    background: $lightGrey;
    opacity: .8;
    box-shadow: 2px 2px 2px $shadowColor;
    padding: 15px;
    border-radius: 5px;

    &:hover {
      opacity: 1;
    }

    .AuthFormBtns {
      text-align: center;
    }
  }
}
